<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-applovin-mediation" version="1.0.0">
    <name>AppLovin Mediation</name>
    <description>AppLovin Mediation Cordova Plugin</description>
    <license>MIT</license>

    <!-- android -->
    <platform name="android">
        <framework src="com.google.ads.mediation:applovin:11.9.0.0" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <podspec>
            <pods use-frameworks="true">
                <pod name="GoogleMobileAdsMediationAppLovin" />
            </pods>
        </podspec>
    </platform>
</plugin>
